
<div class="card container" style="border:1px dotted black; background-image:url(https://www.denofgeek.com/wp-content/uploads/2020/12/FS_BM_Cv2_varFINAL-e1607567378748.jpg?fit=1986%2C1275)">

<h3 style="color:white">New Article</h3>
<div class="card-body">
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>
</div>
</div>